.menu-button {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
    height: 3rem;
    position: fixed;
    right: 3rem;
    top: 3rem;
    width: 3rem;
  }
}
