.form__label {
  color: #999;
  font-size: 18px;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.form__group--focus .form__label {
  font-size: 15px;
  top: -5px;
}
