.sidebar__title {
  color: white;
  background-color: #1b1b1b;
  font-family: 'Montserrat';
  font-size: 28px;
  line-height: 70px;
  text-align: center;
  user-select: none;
}

@media(max-width: 768px) {
  .sidebar__title {
    display: none;
  }
}
