<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/container/container.css" />
    <link rel="stylesheet" href="/static/css/form/form.css" />
    <link rel="stylesheet" href="/static/css/form/form-button.css" />
    <link rel="stylesheet" href="/static/css/form/form-image.css" />
    <link rel="stylesheet" href="/static/css/form/form-group.css" />
    <link rel="stylesheet" href="/static/css/form/form-input.css" />
    <link rel="stylesheet" href="/static/css/form/form-placeholder.css" />
    <link rel="stylesheet" href="/static/css/form/form-title.css" />
    <link rel="stylesheet" href="/static/css/sign-in/sign-in-image.css" />
  </head>
  <body>
    <div class="container">
