<%- include('../header'); -%>

<img class="sign-in__image" src="/static/images/background.svg" />

<form class="form" action="/sign-in" method="POST">
  <img class="form__image" src="/static/images/avatar.svg" />

  <span class="form__title">Sign In</span>

  <div class="form__group">
    <input class="form__input" type="email" name="email" />
    <span class="form__placeholder" data-placeholder="Email"></span>
  </div>

  <div class="form__group">
    <input class="form__input" type="password" name="password" />
    <span class="form__placeholder" data-placeholder="Password"></span>
  </div>

  <button class="form__button" type="submit">Sign In</button>
</form>

<%- include('../footer'); -%>
